body{
  background-color: red;
  font-family: roboto;
}
h1{
  color: aqua;
  text-align: center;
}
.assign{
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.assign img{
  width: 200px;
  margin: 10px;
}
