body{
  background-color: #3F6975;
  font-family: roboto;
  display: flex;
  flex-wrap: wrap;
}
h1{
  color: #F57F0A;
  text-align: center;
  width: 100%
  display: block;
}
h1:hover{
  color: green;
  text-align: center;
  width: 100%
  display: block;
}
a {
  text-decoration: none;
  color: #3597B5;
}
.assign{
  background-color: lightgray;
  margin: 10px;
  padding: 10px;
  display: block;
  border-radius: 20px;
  width: 20%
  box-shadow: 8px 8px green;
}
.assign img{
  width: 200px;
  margin: 10px;
  border: 2px solid midnightblue;
}
.assign img:hover{
  width: 200px;
  margin: 10px;
  border: 2px dotted white;
}
